<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="#" id="case-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Cases
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="#" id="monitor-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Monitors
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="#" id="component-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Pc Components
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="homeware-link">
                <a href="" class="dropdown-item">DDR4 Ram</a>
                <a href="" class="dropdown-item">Graphics Cards</a>
                <a href="" class="dropdown-item">CPU's</a>
                <a href="" class="dropdown-item">Motherboards</a>
                <a href="" class="dropdown-item">Storage</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="#" id="keyboard-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Keyboards
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-white" href="#" id="mouse-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Mouses
            </a>
        </li>
    </ul>
</div>